name: Lint & Test with Gradle

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  gradle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ['17', '21']

    steps:
      - uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      - name: Lint
        run: gradle spotlessCheck
      - name: Build & Test
        run: gradle test -x spotlessApply --info
