name: Lint & Test with Maven

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mvn:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ['11', '17', '21']

    steps:
      - uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      - name: Lint
        run: mvn --batch-mode spotless:check
      - name: Build & Test
        run: mvn --batch-mode test -Dspotless.apply.skip
